# Docker Compose for MySQL Database
# Run: docker-compose up -d

version: "3.8"

services:
  mysql:
    build: .
    container_name: dms-heronusa-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: u469241017_heronusa
      MYSQL_USER: heronusa
      MYSQL_PASSWORD: dbheronusa45A
    healthcheck:
      # Gunakan password 'rootpassword' sesuai env di atas
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootpassword"]

    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - heronusa-network

volumes:
  mysql_data:
    driver: local

networks:
  heronusa-network:
    driver: bridge
